body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #060b28;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-scrollbar-drag {
  background-color: white !important;
}

.swiper-scrollbar {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: #4361ac;
  border-radius: 20px;
}
